@media (min-width: 800px) and (max-width: 1024px){
    html, body{
        font-size: 10.5px;
    }
}
@media (min-width: 1025px) and (max-width: 1280px){
    html, body{
        font-size: 12px;
    }
}
@media (min-width: 1281px) and (max-width: 1366px){
    html, body{
        font-size: 13px;
    }
}
 @media (min-width: 1367px) and (max-width: 1600px) {
        html,
        body {
            font-size: 16px;
        }
    }
@media (min-width: 1601px) and (max-width: 1920px) {
    html,
    body {
        font-size: 17px;
    }
}
@media (min-width: 1921px) and (max-width: 2560px) {
    html,
    body {
        font-size: 24px;
    }
}
@media (min-width: 2561px) {
    html,
    body {
        font-size: 28px;
    }
}

